.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 32px;
  background-color: var(--color-dark-alternate);
  min-height: var(--header-height);
}

.header__list {
  display: flex;
  column-gap: 50px;
}

.header__link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  display: inline-flex;
  height: var(--header-height);
  align-items: center;
  column-gap: 7px;
}

.header__link.is-current::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: currentColor;
}

.header__book-button {
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 2;
  border: none;
  background-color: var(--color-light);
}

.header__actions {
    display: flex;
    column-gap: 39px;
}

.header__logo {
    flex-shrink: 0;
}

.header__burger-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: var(--border);
    border-radius: 50%;;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    row-gap: 4px;
    padding-left: 8px;
    color: var(--color-light);
}

.header__burger-button-line {
    width: 6px;
    height: 1px;
    background-color: currentColor;
    box-shadow: 16px 0 0 0 currentColor;
}

.header__burger-button:hover {
    color: var(--color-light-gray);
    border-color: currentColor;
}
